<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <!-- Body -->
    <mat-nav-list>
      <a routerLink="" mat-list-item>
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item>
        <i class="material-icons">directions_bus</i>
        Empresas
      </a>
      <a mat-list-item>
        <i class="material-icons">all_out</i>
        Graduacões
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>



</mat-sidenav-container>
